/* h4{
    color: blue;
text-transform: uppercase;
}
ul{

    color: green;
    font-size: 30px;
} */

#delete{

    color: red;
    float: right!important;
}
body{

    background-color: navy!important;
}

